@{
    ViewBag.Title = "About";
}
<h1>For only 25$ dollars a month!</h1>

<h2>GreenPathWay offers Garbage collection services for all classes of properties, from apartments, to a single owned property, senior communities, student housing.  </h2>

<<body>
    <img src="~/Content/image/2017-04-04T21-41-28.866Z--1280x720.jpg"
         style="width:900px; height:600px;" />
</body>