@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GreenPathWay</h1>
    <p>The Path to a greener future!</p>
</div>
<body>
    <img src="~/content/image/bfac772938c058fcfb014420b2ca7f2f_garbage-collector-with-a-garbage-cleaning-clipart_1500-1208.jpeg"
       style="width:900px; height:300px;" />
</body>